.logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);
  margin: 16px 24px 16px 50px;
  float: left;
}
@media screen and (max-width: 1200px) {
  .logout{
    margin-left: 160px;
  }

}
@media screen and (min-width: 1200px) {
  .logout{
    right: 200px;
    position: absolute !important;
  }
  .avatar {
    right: 80px;
    position: absolute !important;
  }

}

