.systemInfo {
    height: 64px;
    line-height: 64px;
    padding: 0 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
}

.userInfo,
.userName>span {
    display: flex;
    align-items: center;
}

.userName {
    margin-right: 10px;
}

.loginButton,
.logupButton {
    cursor: pointer;
    margin-right: 10px;
}